.advantages {
  width: 87.5%;
  margin: 0 auto;
  margin-bottom: 42px;
}

.advantages__title {
  .set-font(custom-font; 36px; 60px);

  .text-reset();
  display: block;
  margin-bottom: 24px;
}

.advantages__list {
  .list-reset();
}

.advantages__description {
  .set-font(regular-font; 14px; 18px);
  color: @gray;

  .text-reset();
  padding-left: 80px;
  margin-bottom: 20px;
}
