.advantages {
  .center(@mobile-width-percent);
  margin-bottom: 42px;
}

.advantages__title {
  .set-font(custom-font; 36px; 60px);

  display: block;
  margin-bottom: 24px;
}

.advantages__list {
  .list-reset();
}

.advantages__item {
  position: relative;

  display: flex;
  min-height: 60px;
  margin-bottom: 20px;

  &::after {
    width: 60px;
    height: 60px;
  }

  &:first-child::after {
    .advantages-icon(
      url("../img/advantage-leaf@1x.png");
      url("../img/advantage-leaf@2x.png"));
  }

  &:nth-child(2)::after {
    .advantages-icon(
      url("../img/advantage-powder@1x.png");
      url("../img/advantage-powder@2x.png"));
  }

  &:nth-child(3)::after {
    .advantages-icon(
      url("../img/advantage-dining@1x.png");
      url("../img/advantage-dining@2x.png"));
  }

  &:last-child::after {
    .advantages-icon(
      url("../img/advantage-clock@1x.png");
      url("../img/advantage-clock@2x.png"));
  }
}

.advantages__description {
  .set-font(regular-font; 14px; 18px);
  color: @text-color-gray;

  padding-left: 80px;
  margin: auto;
}

@media (min-width: @tablet-width) {
  .advantages {
    .center(@tablet-width-percent);
    margin-bottom: 100px;
  }

  .advantages__title {
    .set-font(custom-font; 60px; 60px);

    margin-bottom: 70px;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .advantages__description {
    .set-font(regular-font; 16px; 24px);
    width: 69%;
    .reset-indents();
  }

  .advantages__item {
    z-index: 1;

    width: 45.76%;
    margin-bottom: 130px;
    padding-top: 115px;

    counter-increment: number;

    &:nth-child(3) {
      margin-bottom: 0;
    }

    &:first-child::before {
      .advantages-number(counter(number); 37%);
    }

    &::before {
      .advantages-number(counter(number));
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      width: 80px;
      height: 80px;
    }

    &:last-child .advantages__description {
      width: 76%;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    .center(@desktop-fix-width);
    margin-bottom: 99px;
  }

  .advantages__title {
    margin-bottom: 71px;
  }

  .advantages__item {
    width: 245px;
    margin: 0;

    &:first-child::before {
      .advantages-number(counter(number); 120px);
    }

    &::before {
      .advantages-number(counter(number); 120px);
    }
  }

  .advantages__description {
    width: 245px;
  }
}
