.catalog-extra {
  .center(@mobile-width-percent);
  margin-bottom: 39px;
}

.catalog-extra__title {
  .set-font(custom-font; 24px; 24px);

  .reset-indents();
  padding: 31px 0;
  border-bottom: 1px solid @catalog-table-border-color;
}

.catalog-extra__list {
  .list-reset();
}

.catalog-extra__item {
  padding: 17px 0;
  border-bottom: 1px solid @catalog-table-border-color;
}

.catalog-extra__product-title {
  .set-font(custom-font);
  text-transform: uppercase;
  text-decoration: none;
  color: @text-color-black;

  display: block;
  margin-bottom: 14px;
}

.catalog-extra__product-description {
  .set-font(regular-font; 14px; 14px);
  color: @text-color-gray;

  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

@media (min-width: @tablet-width) {
  .catalog-extra {
    .center(@tablet-width-percent);
    margin-bottom: 69px;
  }

  .catalog-extra__title {
    .set-font(custom-font; 36px; 36px);

    margin-bottom: 74px;

    border: none;
  }

  .catalog-extra__item {
    padding: 28px 37px;

    border: 1px solid @catalog-table-border-color;
    border-bottom: none;
  }

  .catalog-extra__item:last-of-type {
    border-bottom: 1px solid @catalog-table-border-color;
  }

  .catalog-exatra__item-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .catalog-extra__product-title {
    .set-font(custom-font; 20px; 20px);
  }

  .catalog-extra__product-description {
    .set-font(regular-font; 16px; 20px);
  }

  .catalog-extra__description-quantity {
    margin-right: 53px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-extra {
    width: 895px;
    .reset-indents();
  }

  .catalog-extra__title {
    margin-bottom: 74px;
  }

  .catalog-extra__item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 16px;

    border-left: none;
    border-right: none;
  }

  .catalog-extra__product-title {
    width: 245px;
    margin: 0;
  }

  .catalog-extra__product-description {
    margin: 0;
  }

  .catalog-extra__description-quantity {
    width: 245px;
    margin: 0;
  }

  .catalog-extra__description-price {
    width: 80px;
    margin: 0;
  }
}
