.catalog__title {
  .set-font(custom-font; 36px; 60px);
}

.catalog__list {
  .list-reset();
}

.catalog__product-link {
  text-decoration: none;
  color: @black;
}

.catalog__product-title {
  .set-font(custom-font; 16px; 20px);
  text-transform: uppercase;
}

.catalog__product-description {
  .set-font(regular-font; 12px);
  color: @gray;
}
