.catalog__title {
  .set-font(custom-font; 36px; 60px);

  .center(@mobile-width-percent);
  padding: 24px 0;
}

.catalog__list {
  .list-reset();
}

.catalog__item {
  padding-bottom: 25px;

  border-bottom: 1px solid @catalog-border-color;
}

.catalog__product-wrapper {
  position: relative;

  .center(@mobile-width-percent);
}

.catalog__item:first-child {
  border-top: 1px solid @catalog-border-color;
}

.catalog__product-link {
  text-decoration: none;
  color: @text-color-black;

  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.catalog__product-title {
  .set-font(custom-font; 16px; 20px);
  text-transform: uppercase;

  width: 27%;
  margin-top: 20px;
}

.catalog__product-description {
  position: absolute;
  left: 140px;
  top: 78px;

  .set-font(regular-font; 12px);
  border-spacing: 0;

  color: @text-color-gray;
}

.catalog__description-field {
  font-weight: 400;
  width: 95px;
}

.catalog__description-value {
  width: 40px;
  text-align: right;
}

@media (min-width: @tablet-width) {
  .catalog {
    .center(@tablet-width-percent);
    margin-bottom: 70px;
  }

  .catalog__title {
    .set-font(custom-font; 60px; 60px);

    .reset-indents();
    margin-bottom: 168px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    width: 45.76%;

    box-sizing: border-box;
    margin-bottom: 140px;
    padding: 40px 38px;
    padding-top: 0;

    background-color: @bg-color-gray;
    border: none;
  }

  .catalog__item:first-child {
    border: none;
  }

  .catalog__item:nth-last-of-type(2) {
    margin-bottom: 0;
  }

  .catalog__more-item {
    box-sizing: border-box;
    width: 45.76%;
    padding: 40px 38px;
    padding-top: 0;

    border: 1px solid @catalog-more-border-color;
  }

  .catalog__product-link {
    flex-direction: column-reverse;
    align-items: center;
  }

  .catalog__product-title {
    .set-font(custom-font; 20px; 20px);
    text-align: center;

    width: 52%;
    margin-bottom: 30px;
  }

  .catalog__product-title-weight {
    display: inline-block;
  }

  .catalog__product-description {
    position: static;

    .set-font(regular-font);

    width: 100%;
    border-spacing: 0 10px;
    margin-bottom: 33px;
  }

  .catalog__description-field {
    border-bottom: 1px solid @catalog-table-border-color;
    padding-bottom: 10px;
  }

  .catalog__description-value {
    border-bottom: 1px solid @catalog-table-border-color;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    .center(@desktop-fix-width);
  }

  .catalog__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 142px;
  }

  .catalog__description-value {
    width: 100%;
  }

  .catalog__product-wrapper {
    width: 100%;
    margin: 0;
  }

  .catalog__product-title {
    width: 130px;
  }

  .catalog__item:nth-child(4n) {
    margin-right: 0;
  }

  .catalog__item:nth-child(n+5) {
    margin-bottom: 0;
  }

  .catalog__more-item {
    width: 245px;
  }

  .catalog__container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    .center(@desktop-fix-width);
    margin-bottom: 90px;
  }
}
