.catalog__title {
  .set-font(custom-font; 36px; 60px);

  .center(@mobile-width-percent);
  padding: 17px 0;
  margin-bottom: 11px;
}

.catalog__list {
  .list-reset();
  .center(@mobile-width-percent);
  width: 100%;
}

.catalog__item {
  position: relative;

  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 24px;

  border-bottom: 1px solid @catalog-border-color;

  &:first-child {
    border-top: 1px solid @catalog-border-color;
  }
}

.catalog__item-wrapper {
  .center(@mobile-width-percent);
}

.catalog__product-link {
  text-decoration: none;
  color: @text-color-black;

  display: block;
  width: 50%;
  padding: 0;
  margin-left: auto;
}

.catalog__product-title {
  .set-font(custom-font; 16px; 20px);
  text-transform: uppercase;

  width: 54%;
  min-height: 40px;
  margin: 0;
  margin-bottom: 12px;
}

.catalog__image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 43.75%;
  margin-left: 6.25%;
  text-align: center;
}

.catalog__product-description {
  .set-font(regular-font; 12px);
  color: @text-color-gray;

  width: 50%;
  margin-left: auto;
  margin-bottom: 22px;

  border-collapse: collapse;
}

.catalog__description-field {
  font-weight: 400;

  padding: 0;
}

.catalog__description-value {
  text-align: right;

  padding: 0;
}

.catalog__product-title-weight {
  display: inline-block;
}

@media (min-width: @tablet-width) {
  .catalog {
    .center(@tablet-width-percent);
    margin-bottom: 67px;
  }

  .catalog__title {
    .set-font(custom-font; 60px; 60px);

    .reset-indents();
    padding-top: 20px;
    margin-bottom: 166px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .catalog__item {
    position: relative;

    width: 45.76%;

    box-sizing: border-box;
    margin-bottom: 140px;
    padding: 40px 37px;
    padding-top: 0;

    background-color: @bg-color-gray;
    border: none;

    &:first-child {
      border: none;
    }

    &:nth-last-of-type(2) {
      margin-bottom: 0;
    }
  }

  .catalog__product-link {
    flex-direction: column-reverse;
    align-items: center;
    width: auto;
  }

  .catalog__image-container {

    width: auto;

    position: absolute;
    top: auto;
    bottom: 305px;
    left: 0;
    right: 0;

    margin: 0 auto;
  }

  .catalog__product-title {
    .set-font(custom-font; 20px; 20px);
    text-align: center;

    width: 52%;
    margin: 0 auto;
    margin-top: 164px;
    margin-bottom: 17px;
  }

  .catalog__product-description {
    position: static;

    .set-font(regular-font);

    width: 100%;
    border-collapse: separate;
    border-spacing: 0 7px;
    margin-bottom: 26px;
  }

  .catalog__description-field {
    border-bottom: 1px solid @catalog-table-border-color;
    padding-bottom: 7px;
  }

  .catalog__description-value {
    border-bottom: 1px solid @catalog-table-border-color;
    padding: 0;
    padding-bottom: 3px;
  }

  .catalog__item button {
    padding-bottom: 10px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    .center(@desktop-fix-width);
    padding-top: 50px;
    margin-bottom: 77px;
  }

  .catalog__title {
    margin-bottom: 164px;
  }

  .catalog__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 142px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-child(n+5) {
      margin-bottom: 0;
    }
  }

  .catalog__description-value {
    width: 100%;
    padding-bottom: 5px;
    padding-right: 2px;
  }

  .catalog__product-title {
    width: 130px;
  }

  .catalog__container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    .center(@desktop-fix-width);
    margin-bottom: 90px;
  }
}
