.cooperation {
  background-color: @white;
}

.cooperation__title {
  .set-font(custom-font; 16px; 20px;);
  text-transform: uppercase;
}

.cooperation__adress {
  .set-font(regular-font; 14px; 20px);
  font-style: normal;
  color: @gray;
}
