.example {
  color: @black;

  background-color: @gray-bg;
}

.example__title {
  .regular-heading-font();
}

.example__description {
  color: @gray;
}

.example__data-field {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-transform: lowercase;
  color: @gray;
}

.example__data-value {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.example__cost {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.example__toggle-status {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;
}
