.example {
  color: @black;

  background-color: @gray-bg;
}

.example__title {
  .set-font(custom-font; 36px; 60px);
}

.example__description {
  .set-font(regular-font; 14px; 18px);
  color: @gray;
}

.example__data-field {
  .set-font(regular-font; 12px; 12px);
  text-transform: lowercase;
  color: @gray;
}

.example__data-value {
  .set-font(custom-font; 24px; 24px);
  text-transform: uppercase;
}

.example__cost {
  .set-font(custom-font; 14px; 20px);
  text-transform: uppercase;
}

.example__toggle-status {
  .set-font(custom-font; 16px; 20px);
  text-transform: uppercase;
  text-decoration: none;
  color: @black;
}
