.footer {
  color: @black;

  background-color: @gray-bg;
}

.footer__logo {
  text-align: center;

  display: block;
  margin: 0 auto;
  margin-bottom: 31px;
}

.footer__logo:hover,
.footer__logo:focus {
  opacity: 0.8;
}

.footer__logo:active {
  opacity: 0.6;
}

.footer__developed-by-link {
  .set-font(regular-font);
  text-decoration: none;
  color: @gray;

  display: block;
  width: 87.5%;
  margin: 0 auto;
}

.footer__developed-by-link--uppercase {
  text-transform: uppercase;
}

.footer__developed-by-link:active {
  opacity: 0.3;
}
