body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @text-color-gray;

  min-width: @mobile-width;
  margin: 0;
  padding: 0;
  list-style: none;

  background-color: @white;
}

img {
  max-width: 100%;
  height: auto;
}
