body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @text-color-gray;

  min-width: @mobile-width;
  max-width: 1440px;
  margin: 0 auto;

  background-color: @white;
}

img {
  max-width: 100%;
  height: auto;
}
