.header {
  color: @text-color-black;

  background-color: @white;
}

.header__logo {
  display: block;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 11px;
  padding-bottom: 13px;

  border-bottom: 1px solid @menu-border-color;
}

.header__logo[href*="index"] {
  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}


@media (min-width: @tablet-width) {
  .header {
    margin-bottom: 34px;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
    .center(@tablet-width-percent);
  }

  .header__logo {
    padding: 0;
    margin-top: 24px;
    margin-right: auto;

    border: none;
  }

  .header__logo-image {
    width: 174px;
  }
}

@media (min-width: @desktop-width) {
  .header {
    margin: 0;
  }

  .header__logo {
    margin-top: 20px;
  }

  .header__logo-image {
    width: 202px;
  }

  .header--green {
    background-color: @bg-color-green;
    background-image: linear-gradient(to right, @white 50%, @bg-color-green 50%);
  }

  .header__bg-wrapper {
    max-width: @desktop-full-width;
    margin: 0 auto;
    padding-top: 32px;
  }

  .header--green .header__bg-wrapper {
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 50% 696px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 50% 696px;
    }
  }

  .header__container {
    width: @desktop-fix-width;
  }
}
