.main-navigation__menu-list {
  .list-reset();
}

.main-navigation__toggle {
  position: absolute;
}

.main-navigation__menu-link {
  .set-font(custom-font, 20px, 20px, 500);
  text-transform: uppercase;
  text-decoration: none;
  color: @black;
  text-align: center;

  display: block;
  padding: 20px;

  border-bottom: 1px solid @light-gray;
}

.main-navigation__menu-item:hover:not(.main-navigation__menu-item--active),
.main-navigation__menu-item:focus:not(.main-navigation__menu-item--active) {
  opacity: 0.6;
}

.main-navigation__menu-item:active:not(.main-navigation__menu-item--active) {
  opacity: 0.3;
}
