.map {
  position: relative;
  z-index: 1;
  margin-bottom: 39px;
  overflow: hidden;
}

.map__image {
  height: 362px;
}

@media (min-width: @tablet-width) {
  .map {
    margin-bottom: 57px;

    &--inner-page {
      margin-bottom: 50px;
    }
  }

  .map__image {
    height: 396px;
  }
}

@media (min-width: @desktop-width) {
  .map {
    margin-bottom: 55px;

    &--inner-page {
      margin-bottom: 50px;
    }
  }

  .map__image {
    height: 401px;
  }

  .map__wrapper {
    position: absolute;
    z-index: 2;
    top: 95px;
    left: 0;
    right: 0;

    box-sizing: border-box;
    width: 1440px;
    margin: 0 auto;
    padding-left: 110px;
  }
}
