.regular-text-font() {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.regular-heading-font() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.list-reset() {
  list-style: none;
  margin: 0;
  padding: 0;
}
