.more-items {
  position: relative;

  text-align: center;

  padding-top: 80px;
  padding-bottom: 24px;

  border-bottom: 1px solid @catalog-border-color;
}

.more-items__title {
  .set-font(custom-font; 16px; 20px);
  text-transform: uppercase;

  .reset-indents();
  display: block;
  margin-bottom: 7px;

  &::before {
    content: "";

    position: absolute;
    top: 27px;
    left: 0;
    right: 0;

    width: 30px;
    height: 30px;
    margin: auto;

    opacity: 0.2;
    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.more-items__description {
  .set-font(regular-font; 12px);
  color: @text-color-gray;

  .reset-indents();
  margin-bottom: 21px;
}

@media (min-width: @tablet-width) {
  .more-items {
    box-sizing: border-box;
    width: 45.76%;
    margin: 0;
    padding: 38px 37px;
    padding-top: 164px;

    border: 1px solid @catalog-more-border-color;
  }

  .more-items__title {
    .set-font(custom-font; 20px; 20px);

    .center(56%);
    margin-bottom: 26px;

    &::before {
      top: 55px;

      width: 60px;
      height: 60px;

      opacity: 0.2;
      background-image: url("../img/icon-plus.svg");
    }
  }

  .more-items__description {
    .set-font(regular-font; 16px; 18px);

    .center(70%);
    margin-bottom: 85px;
  }
}

@media (min-width: @desktop-width) {
  .more-items {
    width: 245px;
  }

  .more-items__title {
    width: 140px;
  }

  .more-items__description {
    width: 170px;
  }
}
