.programs-description__list {
  .list-reset();
}

.programs-description__item {
  color: @black;

  background-color: @gray-bg;
}

.programs-description__description {
  .set-font(regular-font; 14px; 18px);
  color: @gray;
}

.programs-description__title {
  .set-font(custom-font; 24px; 37px);
  text-transform: uppercase;
}

.programs-description__link {
  .set-font(custom-font);
  text-transform: uppercase;
  text-decoration: none;
  color: @black;
}

.programs-description__link:active {
  color: fade(@black, 70%);
}
