.program-selection {
  margin-bottom: 33px;
}

.program-selection__wrapper {
  .center(@mobile-width-percent);
}

.program-selection__title {
  .set-font(custom-font; 36px; 60px);

  .reset-indents();
  padding-top: 18px;
  padding-bottom: 24px;
}

.program-selection__description {
  .set-font(custom-font; 14px; 18px);
  text-transform: uppercase;


  width: 82%;
  .reset-indents();
  margin-bottom: 38px;
}

.program-selection__form {
  .set-font(custom-font; 16px; 18px);
}

.program-selection__fieldset {
  border: none;

  .reset-indents();
  padding-bottom: 7px;
  margin-bottom: 21px;

  border-bottom: 1px solid @form-border-color;

  &--user {
    margin: 0;

    border: none;
  }
}

.program-selection__fieldset--program {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  padding-bottom: 8px;
}

.program-selection__fieldset--comment {
  margin-bottom: 13px;
  border: none;
}

.program-selection__fieldset--extra {
  margin-bottom: 12px;
  border: none;
}

.program-selection__label {
  position: relative;
  display: flex;
  align-items: baseline;
}

.program-selection__label-name {
  white-space: nowrap;
  margin-right: 15px;
}

.program-selection__input {
  width: 100%;
  padding: 13px 15px;
  margin-bottom: 14px;
}

.program-selection__input--email {
  padding-right: 45px;

  & + svg {
    position: absolute;
    top: 18px;
    right: 18px;

    fill: @input-icon-color;
  }

  &:active + svg {
    fill: @form-radio-color;
  }

  // &:invalid + svg{
  //   fill: @input-error-border-color;
  // }
}

.program-selection__input--tel {
  padding-right: 45px;

  & + svg {
    position: absolute;
    top: 15px;
    right: 13px;

    fill: @input-icon-color;
  }

  &:active + svg {
    fill: @form-radio-color;
  }

  // &:invalid + svg{
  //   fill: @input-error-border-color;
  // }
}

.program-selection__textarea {
  box-sizing: border-box;
  padding: 13px;
}

.program-selection__radio {
  &:checked + .program-selection__radio-name::after {
    content: "";

    position: absolute;
    top: 11px;
    left: 11px;

    width: 12px;
    height: 12px;
    background-color: @form-radio-color;
    border-radius: 50%;
  }

  &:focus + .program-selection__radio-name::before {
    border: 1px solid @form-radio-hover-border-color;
    outline: 5px auto -webkit-focus-ring-color;
  }
}

.program-selection__radio-name {
  box-sizing: border-box;
  margin-bottom: 18px;
  padding-left: 46px;
  padding-top: 6px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 1px solid @form-radio-border-color;
    border-radius: 50%;
  }

  &:active {
    color: @form-radio-active-text-color;
  }

  &:hover::before {
    border: 1px solid @form-radio-hover-border-color;
  }

  &:active::before {
    border: 1px solid @form-radio-active-border-color;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.program-selection__checkbox {
  &:checked + .program-selection__checkbox-name::after {
    content: "";

    position: absolute;
    top: 7px;
    left: 6px;

    width: 21px;
    height: 16px;

    background-image: url("../img/icon-tick.svg");
  }

  &:focus + .program-selection__checkbox-name::before {
    outline: 5px auto -webkit-focus-ring-color;
  }
}

.program-selection__checkbox-name {
  box-sizing: border-box;
  padding-left: 46px;
  padding-top: 6px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 1px solid @input-border-color;
  }

  &:active {
    color: @form-radio-active-text-color;
  }

  &:hover::before {
    border: 1px solid @form-radio-hover-border-color;
  }

  &:active::before {
    border: 1px solid @form-radio-active-border-color;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.program-selection__label-name,
.program-selection__radio-name,
.program-selection__checkbox-name {
  text-transform: uppercase;
  color: @form-text-color;
}

.program-selection__input,
.program-selection__textarea {
  text-transform: uppercase;
  color: @text-color-gray;

  width: 100%;

  border: 1px solid @input-border-color;
}

.program-selection__input:hover {
  border-color: @input-hover-border-color;
}

.program-selection__input:focus {
  border-color: @input-focus-border-color;
  outline: none;
}

// .program-selection__input:invalid {
//   border-color: @input-error-border-color;
// }

.program-selection__input::placeholder,
.program-selection__textarea::placeholder {
  color: @input-placeholder-color;
}

.program-selection__radio-list,
.program-selection__checkbox-list {
  .list-reset();
}

.program-selection__title-container {
  position: relative;
  z-index: 1;
  overflow: hidden;

  width: 100%;

  &::before {
    .title-line-mobile-right();
    top: 30%;
  }
}

.program-selection__fieldset--user .program-selection__title-container::before {
  top: 20%;
}

.program-selection__title-wrapper {
  .center(@mobile-width-percent);
}

.program-selection__legend {
  .set-font(custom-font; 24px; 24px);

  .reset-indents();
  width: 200px;
  box-sizing: border-box;
  margin: 0;
  padding-top: 4px;
  padding-bottom: 34px;

  background-color: @white;
}

.program-selection__fieldset--user h3::after {
  margin-top: 0;
  margin-bottom: 16px;
}

.program-selection__checkbox-item {
  margin-bottom: 19px;
}

.program-selection__button {
  .set-font(custom-font; 16px; 20px);
  margin-bottom: 20px;
}

.program-selection__info {
  .set-font(regular-font; 14px);
  text-align: center;
  color: @text-color-gray;

  display: block;
}

@media (min-width: @tablet-width) {
  .program-selection__title {
    .set-font(custom-font; 60px; 60px);

    padding: 30px 0;
    margin-bottom: 25px;
  }

  .program-selection__wrapper {
    .center(@tablet-width-form-percent);
  }

  .program-selection__wrapper--title {
    .center(@tablet-width-percent);
  }

  .program-selection__description {
    .set-font(custom-font; 20px; 30px);

    width: 46.19%;
    margin-left: 5.7%;
    margin-bottom: 66px;
  }

  .program-selection__form {
    .set-font(custom-font; 20px; 20px);
  }

  .program-selection__label-name {
    margin-right: 17px;
  }

  .program-selection__radio-name {
    padding-top: 8px;
    padding-left: 59px;
    margin-bottom: 12px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  .program-selection__radio {
    &:checked + .program-selection__radio-name::after {
      width: 18px;
      height: 18px;
    }
  }

  .program-selection__input {
    padding: 13px 21px;
    margin-bottom: 21px;
  }

  .program-selection__textarea {
    height: 174px;
    padding: 13px 18px;
  }

  .program-selection__fieldset {
    padding: 0;

    border: none;
    margin-bottom: 52px;
  }

  .program-selection__radio-list {
    padding: 25px 28px;
    padding-bottom: 10px;

    border: 1px solid @input-border-color;
  }

  .program-selection__radio-item {
    margin-bottom: 13px;
  }

  .program-selection__fieldset--program {
    margin-bottom: 75px;
  }

  .program-selection__fieldset--user {
    margin-bottom: 47px;
  }

  .program-selection__fieldset--comment {
    margin-bottom: 64px;
  }

  .program-selection__fieldset--user br {
    display: none;
  }

  .program-selection__fieldset--user h3::after {
    margin-top: 0;
    margin-bottom: 0;
  }

  .program-selection__title-container::before {
    top: 20%;
    left: 0;
  }

  .program-selection__title-wrapper {
    width: @tablet-width-percent;
  }

  .program-selection__legend {
    .set-font(custom-font; 36px; 36px);

    width: 595px;
    .reset-indents();
    padding-left: 39px;
    margin-bottom: 75px;
  }

  .program-selection__fieldset--comment .program-selection__legend {
    width: 260px;
  }

  .program-selection__fieldset--extra .program-selection__legend {
    width: 290px;
  }

  .program-selection__checkbox-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .program-selection__checkbox-item {
    width: 40.4%;
    margin-bottom: 41px;
    margin-right: 30px;
  }

  .program-selection__fieldset--extra h3 {
    margin-bottom: 57px;
  }

  .program-selection__container:last-child {
    display: flex;
    align-items: center;
    .center(@tablet-width-form-percent);
    margin-bottom: 72px;
  }

  .program-selection__checkbox-name {
    padding-left: 57px;
    padding-top: 10px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  .program-selection__checkbox {
    &:checked + .program-selection__checkbox-name::after {
      top: 12px;
      left: 10px;
    }
  }

  .program-selection__fieldset--extra {
    margin-bottom: 25px;
  }

  .program-selection__button {
    .set-font(custom-font; 20px; 20px);
    width: 90%;
    margin: 0;
  }

  .program-selection__info {
    .set-font(regular-font);
    text-align: left;

    margin-left: 33px;
    padding-bottom: 4px;
  }
}

@media (min-width: @desktop-width) {
  .program-selection__title {
    padding: 0;
    padding-top: 80px;
    margin-bottom: 55px;
  }

  .program-selection__description {
    margin-left: 0;
    width: 325px;
  }

  .program-selection__fieldset {
    margin-bottom: 0;
  }

  .program-selection__wrapper {
    .center(@desktop-fix-width);
  }

  .program-selection__title-wrapper {
    width: 1220px;
  }

  .program-selection__legend {
    padding: 0;
    padding-left: 38px;
    margin-left: -39px;
  }

  .program-selection__fieldset--extra .program-selection__legend {
    margin-bottom: 55px;
  }

  .program-selection__fieldset--extra .program-selection__title-container::before {
    top: 25%;
  }

  .program-selection__container:first-child {
    display: flex;
    justify-content: space-between;
    .center(@desktop-fix-width);
    margin-bottom: 50px;
  }

  .program-selection__fieldset--user {
    margin-bottom: 47px;
  }

  .program-selection__fieldset--comment {
    margin-bottom: 67px;
  }

  .program-selection__fieldset--extra {
    margin-bottom: 30px;
  }

  .program-selection__container:last-child {
    .center(@desktop-fix-width);
    margin-bottom: 85px;
  }

  .program-selection__wrapper--small {
    width: 570px;
  }

  .program-selection__list {
    display: flex;
    justify-content: space-between;
  }

  .program-selection__label--column {
    width: 570px;
  }

  .program-selection__checkbox-item {
    width: 245px;
    margin-right: 0;
  }

  .program-selection__button {
    width: 568px;
    margin-right: 80px;
  }

  .program-selection__info {
    text-align: left;
    margin-left: 5px;
  }
}
