.programs-description {
  .center(@mobile-width-percent);
  margin-bottom: 10px;
}

.programs-description__list {
  .list-reset();
}

.programs-description__item {
  color: @text-color-black;

  margin-bottom: 20px;

  background-color: @bg-color-gray;
}

.programs-description__title {
  .set-font(custom-font; 24px; 37px);
  text-transform: uppercase;

  .reset-indents();
  padding-left: 91px;
  padding-top: 27px;
  margin-bottom: 20px;
}

.programs-description__description {
  .set-font(regular-font; 14px; 18px);
  color: @text-color-gray;

  margin: 0 20px;
  padding-bottom: 20px;

  border-bottom: 1px solid @description-border-color;
}

.programs-description__link {
  .set-font(custom-font);
  text-transform: uppercase;
  text-decoration: none;
  color: @text-color-black;

  display: block;
  padding: 20px;
}

.programs-description__link:active {
  color: @description-link-active-color;
}

@media (min-width: @tablet-width) {
  .programs-description {
    .center(@tablet-width-percent);
  }

  .programs-description__item {
    box-sizing: border-box;
    margin-bottom: 30px;
    padding-left: 53px;
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .programs-description__title {
    .set-font(custom-font; 36px; 37px);

    padding: 0;
    margin-bottom: 25px;
  }

  .programs-description__description {
    .set-font(regular-font; 16px; 24px);

    .reset-indents();
    width: 57%;
    margin-bottom: 60px;

    border: none;
  }

  .programs-description__link {
    .set-font(custom-font; 20px; 20px);

    .reset-indents();
  }
}

@media (min-width: @desktop-width) {
  .programs-description {
    .center(@desktop-fix-width);
    margin-bottom: 82px;
  }

  .programs-description__list {
    display: flex;
    justify-content: space-between;
  }

  .programs-description__item {
    width: 570px;
    margin: 0;
    padding: 63px 52px;
    padding-top: 82px;
  }

  .programs-description__title {
    margin-left: 162px;
    margin-bottom: 74px;
  }

  .programs-description__description {
    width: 465px;
    margin-bottom: 40px;
  }
}
