.program-selection__wrapper {
  width: 87.5%;
  margin: 0 auto;
}

.program-selection__title {
  .set-font(custom-font; 36px; 60px);

  .text-reset();
  padding-top: 21px;
  padding-bottom: 30px;
}

.program-selection__description {
  .set-font(custom-font; 14px; 18px);
  text-transform: uppercase;


  .text-reset();
  width: 82%;
  margin-bottom: 41px;
}

.program-selection__form {
  .set-font(custom-font; 16px; 18px);
}

.program-selection__fieldset {
  border: none;

  .text-reset();
  padding-bottom: 23px;
  margin-bottom: 21px;

  border-bottom: 1px solid @dark-gray-bg;
}

.program-selection__fieldset:last-of-type {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
}

.program-selection__label {
  display: flex;
  align-items: baseline;
  margin-bottom: 14px;
}

.program-selection__label-name {
  white-space: nowrap;
  margin-right: 15px;
}

.program-selection__input {
  width: 100%;
  padding: 16px;
}

.program-selection__radio-name {
  margin-left: 17px;
}

.program-selection__checkbox-name {
  margin-left: 17px;
}

.program-selection__label-name,
.program-selection__radio-name,
.program-selection__checkbox-name {
  text-transform: uppercase;
  color: @black-input;
}

.program-selection__input,
.program-selection__textarea {
  text-transform: uppercase;
  color: @gray;

  width: 100%;

  border: 1px solid fade(@input-border-color, 50%);
}

.program-selection__input:hover {
  border-color: @input-border-color;
}

.program-selection__input:focus {
  border-color: @gray;
  outline: none;
}

// .program-selection__input:invalid {
//   border-color: @input-error;
// }

.program-selection__input::placeholder,
.program-selection__textarea::placeholder {
  color: @gray;
}

.program-selection__radio-list,
.program-selection__checkbox-list {
  .list-reset();
}

.program-selection__legend {
  .set-font(custom-font; 24px; 24px);

  margin-bottom: 30px;
}

.program-selection__button {
  margin-bottom: 20px;
}

.program-selection__info {
  .set-font(regular-font; 14px);
  text-align: center;
  color: @gray;

  display: block;
  margin-bottom: 35px;
}
