.promo {
  color: @white;

  padding-top: 32px;
  margin-bottom: 22px;

  background: url("../img/index-background-mobile@1x.jpg") no-repeat center 0,
    linear-gradient(to bottom, @bg-color-green 63.4%, @white 63.4%);

  background-color: @bg-color-green;
}

.promo__wrapper {
  .center(@mobile-width-percent);
}

.promo__title {
  .set-font(custom-font; 36px; 36px);
  text-align: center;

  min-height: 80px;
  .reset-indents();
  margin-bottom: 20px;
}

.promo__text {
  .set-font(custom-font; 14px; 14px);
  text-transform: uppercase;
  text-align: center;

  .reset-indents();
  margin-bottom: 303px;
}

@media (min-width: @tablet-width) {
  .promo {
    color: @text-color-black;

    background-color: @white;
    background-image: none;
  }

  .promo__wrapper {
    .center(@tablet-width-percent);
    box-sizing: border-box;
    padding-left: 12.71%;
  }

  .promo__title {
    .set-font(custom-font; 60px; 60px);
    text-align: left;

    width: 69%;
    margin-bottom: 40px;
  }

  .promo__text {
    .set-font(custom-font; 20px; 20px);
    text-align: left;

    margin-bottom: 45px;
  }

  .promo__button {
    position: static;

    .set-font(custom-font; 20px; 20px);

    width: 39.6%;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    padding-bottom: 190px;
    margin-bottom: 80px;

    background:
      url("../img/index-background-desktop@1x.jpg") no-repeat 100% -146px,
      linear-gradient(to right, @white 50%, @bg-color-green 50%);
    background-color: @bg-color-green;
  }

  .promo__button {
    width: 245px;
  }

  .promo__wrapper {
    .center(@desktop-fix-width);
    padding: 0 81px;
  }

  .promo__title {
    width: 415px;
    margin-bottom: 45px;
  }

  .promo__text {
    margin-bottom: 50px;
  }
}
