.promo {
  color: @black;

  margin-bottom: 22px;

  background-color: @white;
}

.promo__wrapper {
  color: white;

  margin: 0 auto;

  background-color: @green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo__container {
  width: 87.5%;
  margin: 0 auto;
}

.promo__title {
  .set-font(custom-font; 36px; 36px);
  text-align: center;

  .text-reset();
  padding-top: 32px;
  padding-bottom: 20px;
}

.promo__text {
  .set-font(custom-font; 14px; 14px);
  text-transform: uppercase;
  text-align: center;

  .text-reset();
  padding-bottom: 160px;
  margin-bottom: 135px;
}

.promo__button {
  width: 87.5%;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .promo__wrapper {
    color: @black;

    background-color: @white;
    background-image: none;
  }

  .promo__container {
    width: 55.6%;
    .text-reset();
    margin-left: 15.63%;
  }

  .promo__title {
    .set-font(custom-font; 60px; 60px);
    text-align: left;
    margin-bottom: 40px;
  }

  .promo__text {
    .set-font(custom-font; 20px; 20px);
    text-align: left;

    .text-reset();
    margin-bottom: 45px;
  }

  .promo__button {
    .set-font(custom-font; 20px; 20px);

    width: 31.9%;
    margin-left: 15.63%;
    margin-bottom: 529px;
  }
}
