.special-offer {
  position: relative;

  color: @white;

  box-sizing: border-box;
  min-height: 289px;
  padding-top: 187px;
  padding-bottom: 40px;
  margin-bottom: 35px;

  background-color: @bg-color-green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.special-offer__description {
  .set-font(regular-font; 16px; 20px);
  text-align: center;

  .center(60.7%);

  &::before {
    content: "";

    position: absolute;

    top: 65px;
    left: 0;
    right: 0;

    width: 55px;
    height: 60px;
    margin: 0 auto;

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: @tablet-width) {
  .special-offer {

    min-height: 200px;
    padding-top: 72px;
    padding-bottom: 68px;
    margin-bottom: 76px;

    background-color: @bg-color-green;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .special-offer__description {
    text-align: left;

    width: 23.31%;
    margin-left: 59.75%;

    &::before {
      left: 12.85%;
      right: auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .special-offer {
    width: 245px;
    min-height: 288px;
    .reset-indents();

    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-color: @bg-color-green;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .special-offer__description {
    text-align: center;

    width: 170px;
    margin: 0 37px;
    margin-top: 188px;

    &::before {
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
}
