.special-offer {
  color: @white;

  background-color: @green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.special-offer__description {
  .set-font(regular-font; 16px; 20px);
}
