.special-offer {
  color: @white;

  .center(@mobile-width-percent);
  padding-top: 185px;
  padding-bottom: 40px;
  margin-bottom: 35px;

  background-color: @bg-color-green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.special-offer__description {
  .set-font(regular-font; 16px; 20px);
  text-align: center;

  .center(60.7%);
}

@media (min-width: @tablet-width) {
  .special-offer {
    .center(@tablet-width-percent);

    padding-top: 72px;
    padding-bottom: 68px;
    margin-bottom: 76px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-color: @bg-color-green;
  }

  .special-offer__description {
    text-align: left;

    width: 23.31%;
    margin-left: 59.75%;
  }
}

@media (min-width: @desktop-width) {
  .special-offer {
    width: 245px;
    .reset-indents();
    margin-top: 172px;

    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-color: @bg-color-green;
  }

  .special-offer__description {
    text-align: center;

    width: 170px;
    margin: 0 37px;
    margin-top: 190px;
  }
}
