@mobile-width-percent: 87.5%;

@tablet-width: 768px;
@tablet-width-percent: 92.19%;
@tablet-width-form-percent: 74.48%;

@desktop-width: 1440px;
@desktop-fix-width: 1220px;

@text-color-black: #111111;
@text-color-gray: #444444;
//Regular-color: #444444 Custom-color: #111111 Уточнить
@form-text-color: #222222;
@input-placeholder-color: #444444;

@button-bg-color: #68b738;
@button-bg-color-hover: #5eaa2f;
@button-text-color-active: fade(@white, 30%);
@button-gray-bg-color: #f2f2f2;
@button-gray-text-color: #444444;
@button-gray-bg-color-hover: #ebebeb;
@button-gray-text-color-active: fade(@button-gray-text-color, 30%);

@bg-color-green: #64a83b;
@bg-color-gray: #f2f2f2;


@menu-border-color: #e6e6e6;
@menu-active-border-color: #68b738;
@description-border-color: #d9d9d9;
@example-border-color: #cdcdcd;
@catalog-border-color: #ededed;
@catalog-more-border-color: #cdcdcd;
@catalog-table-border-color: #cdcdcd;
@form-border-color: #ededed;
@input-border-color: fade(#cdcdcd, 50%);
@input-hover-border-color: fade(#cdcdcd, 100%);
@input-focus-border-color: #444444;
@input-error-border-color: #ff8282;
@social-border-color: #e5e5e5;

@description-link-active-color: fade(@text-color-black, 30%);
